@model IEnumerable<dynamic>

@{
    ViewData["Title"] = "Teachers";
}

<h2>Teachers List</h2>

@if (Model == null || !Model.Any())
{
    <div class="alert alert-info text-center mt-3">
        No teachers found.
    </div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var teacher in Model)
            {
                <tr>
                    <td>@teacher.Name</td>
                    <td>@teacher.Email</td>
                    <td>@teacher.UserName</td>
                    <td>
                        <a class="nav-link text-white bg-danger" asp-route-id="@teacher.Id" asp-action="GetTeacherProfile" asp-controller="Admin">
                            <i class="bi bi-person-circle me-2"></i>View Profile
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
