@model LearningManagementSystem.Models.DTO.StudyMaterialsVM

@{
    ViewData["Title"] = "UploadStudyMaterial";
}

<h1>UploadStudyMaterial</h1>

<h4>StudyMaterialsVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UploadStudyMaterial" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedBy" class="control-label"></label>
                <input asp-for="UploadedBy" class="form-control" />
                <span asp-validation-for="UploadedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadedOn" class="control-label"></label>
                <input asp-for="UploadedOn" class="form-control" />
                <span asp-validation-for="UploadedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="UploadStudyMaterials" type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

