
@{
    ViewData["Title"] = "Privacy";
}

<form asp-controller="Admin" asp-action="Logout" method="post">
    <button type="submit" class="btn btn-danger">Logout</button>
</form>
<h1>Privacy</h1>
<h1> Hello This Is The Privacy Page!</h1>

