@model LearningManagementSystem.Models.DTO.AnnouncementsVM

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Announcements</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAnnouncement" method="Post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="File" class="control-label"></label>
                <input asp-for="File" class="form-control" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAnnouncements" asp-controller="Announcements">View Announcements</a>
</div>

