@model LearningManagementSystem.Models.Domains.VideoConference

<div class="container-fluid vh-100 p-0">
    <iframe src="@Model.MeetingLink" allow="camera; microphone" style="width:100%; height:100vh; border:none;"></iframe>
</div>
